* {
  box-sizing: border-box;
}

img {
  max-width: 100%;

}

body {
  font-size: 1rem;
  margin: 0;

}

ul {
  list-style: none;
  padding-left: 0;
}


.overwatch {
  background: url('https://cdn2.pcadvisor.co.uk/cmsdata/reviews/3642282/overwatch-gameplay.jpg');
  min-height: 100vh;
}

.hud {

  position:fixed;
  top: 77%;
  padding-left: 2rem;
  padding-top: 1rem;
    /*necessary? */
  width: 100vw;

}

.hud__left {
  float:left;
  margin-left: 2rem;
}

.char {
  height: 4.75rem;
  width: 4.75rem;
}

.hp__bar {
  display:inline-block;
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  transform: rotateX(-30deg);

  /* bottom: 1rem; */
}

.hp__bar p {
  font-style: bolder;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 0;

}

.hp__bar span {
  font-size: 1.5rem;
  font-style: italic;

}

.health__text {
  color: white;
  font-family: sans-serif;
  font-size: .75rem;

}

.bar {
  font-size: 2rem;
  font-style: italic;
  font-weight: bolder;
  margin-top: 0;
  color: #ddd;
  font-family: brandon grotesque, neo sans, avenir, sans-serif;
  border-bottom: 1px solid #ddd;
  padding-right: .5rem;
  border-right: 1px solid #ddd;
  /*letter-spacing: 0.2rem;*/
  transform: scaleX
}

.hud__middle {
  float: left;

  position: relative;
  left: 10rem;
  bottom: 8rem;
  font-family: 'Ubuntu', sans-serif;
}

.kickass {

}

.kickass__enemy {
  color: #e72352;

}

.kickass__enemy__bottom {
  position: relative;
  bottom: 1.25rem;

}

.skull {
  height: 3.75rem;
  width: 3.75rem;
  opacity: 0.7;
  position: absolute;
  top: -120%;
  left: 50%;
  transform: translateX(-50%);
}

.kickass {
  background-color: yellow;
  color: white;
  font-style: italic;
  font-size: 1.8rem;
  font-weight: bold;
  padding-top: 0;
  margin-top: 0;

}

.hud__right {
  margin-right: 3rem;
}

.abilities {
  float: right;
}

.abilities img {
  opacity: .85;
}

.ability {
  height: 4rem;
}
