* {
  box-sizing: border-box;
}

img {
  max-width: 100%;

}

body {
  font-size: 1rem;
  margin: 0;

}

ul {
  list-style: none;
  padding-left: 0;
}


.overwatch {
  background: url('https://cdn2.pcadvisor.co.uk/cmsdata/reviews/3642282/overwatch-gameplay.jpg');
  min-height: 100vh;
}

.hud {

  position:fixed;
  top: 74%;
  padding-left: 2rem;
  padding-top: 1rem;
    /*necessary? */
  width: 100vw;
  border: 1px solid black;

}

.hud__left {
  float:left;
  margin-left: 2rem;
  transform: rotate(-3deg);
}

.char {
  height: 4.75rem;
  width: 4.75rem;
}

.hp__bar {
  display:inline-block;
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  transform: rotateX(-30deg);
  bottom: 1rem;

  /* bottom: 1rem; */
}

.hp__bar p {
  font-style: bolder;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 0;

}

.hp__bar span {
  font-size: 1.5rem;
  font-style: italic;

}

.health__text {
  color: white;
  font-family: sans-serif;
  font-size: .75rem;

}

.bar {
  font-size: 2rem;
  font-style: italic;
  font-weight: bolder;
  margin-top: 0;
  color: #ddd;
 padding-bottom: .25rem;
  border-bottom: 2px solid #ddd;
  padding-right: .5rem;
  border-right: 2px solid #52aab6;
  /*letter-spacing: 0.2rem;*/
  transform: scaleX
}

.hud__middle {



}

.hud__middle__top {
  position: fixed;
  top: 50%;
  left: 50%;
  /*background-color*/: green;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  transform: translate(-50%,-50%)
}

.kickass__enemy {
  color: #e72352;

}

.kickass__enemy__bottom {
  position: relative;
  bottom: 1.25rem;

}

.skull {
  height: 3.75rem;
  width: 3.75rem;
  opacity: .7;
  margin-bottom: 1rem;
}

.eliminated {
  position: relative;
  top: 4rem;
  opacity: .7;
}

.kickass {
/*  /*background-color*/: yellow; */
  font: white;
  font-style: italic;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
}

.white {
  color: white;
}

.hud__right {
  margin-right: 3rem;
  transform: rotate(3deg);


}

.abilities {
  float: right;
  /*background-color*/: yellow;
  border: 1px solid black;
}

.gun__ammo {
  color: white;
  font-family: sans-serif;
  font-size: .75rem;
  margin: 0;
  position: relative;
  left: 5rem;
}

.gun__ammo span {
  font-size: 1.5rem;
  font-style: italic;

}

.abilities img {
  opacity: ;
  /*background-color*/: green;

}

.ability {
  height: 4rem;
}

.gun {
  float: right;
  border: 1px solid black;
  position: relative;
  bottom:1.25rem;

}

.gun__img {
  height: 3.5rem;
  width: 9rem;
  border-right: 2px solid #52aab6;
}
